// test if this works
// could use @import "../shortcuts";
// but using @use if i want to use a MIXIN do shortcuts.MIXIN-NAME like its an object

//tutorial here

//https://www.youtube.com/watch?v=CR-a8upNjJ0&t=195s


// @use '../shortcuts' as *;  that removes the need to use it as an object
// @use '../shortcuts' as s;  that shortens it to s.Mixinname
@import "shortcuts.scss";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
input, textarea{
    font-size: 1.2em;
}
.hidden{
    display: none;
}

body{
    background: black;
    color: black;
    width: 100%;
    @include c-flex(column)
    header{
        @include c-box(flex, cornflowerblue, 40px , 100%)
        @include c-flex()
        border-bottom: white, 2px, solid;
        h1{
            background: transparent;
            font-size: 1.4em;
        }
    }
    main{
        @include c-box(flex, cornflowerblue, 100%, 95%, 5px);
        @include c-flex(row wrap, flex-start, flex-start, flex-start);
        padding: 10px;
        margin-top: 10px;
        div{
            margin: 10px 0;
            @include c-box(flex, cornflowerblue, auto, 33.33%, 5px);
            @include c-flex(column, flex-start, flex-start, flex-start)
            &:first-of-type{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
            }
            input{
                @include c-box(block,white, 25px, 10%, 5px);
                text-align: center;
                margin: 0 15px;
                font-size: 1em;
                &:first-of-type{
                    @include c-box(block,white, 25px, 33.33%, 5px);
                    margin: 0 15px 0 0;
                }
            }
            .gen-template{
                border: 1px black solid;
                background-color: white;
                width: 100%;
                font-size: 1em;
                height: max-content;
                min-height: 5em;
                max-width: 100%;
                min-width: 100%;
                &:first-of-type{
                    min-height: 1em;
                }
                &:nth-of-type(2n){
                    min-height: 2em;
                }
            }
            textarea{
                width: 100%;
                font-size: 1em;
                height: max-content;
                min-height: 2em;
                resize: vertical;
                max-width: 100%;
                min-width: 100%;
            }
            span{
                @include c-box(flex, lightgrey, 30px, 80%, 5px)
                @include c-flex(row, space-between)
                margin: 1px 0 0 5%;
                position: relative;
                input[type="checkbox"]{
                    @include c-box(block, white, 25px, 20%)
                }
                input[type="text"]{
                    @include c-box(block, white, 25px, 40%, 5px)
                }
                h4{
                    text-indent: 5px;
                }
            }
        }
    }
    footer{
        @include c-box(flex, cornflowerblue, 100%, 95%, 5px);
        @include c-flex(row wrap, flex-start, flex-start, flex-start);
        margin-top: 10px;
        div{
            @include c-box(flex, cornflowerblue, auto, 50%, 5px);
            @include c-flex(column);
            padding: 20px 0;
            textarea{
                width: 80%;
                max-width: 80%;
                min-width: 80%;
                height: max-content;
                resize: vertical;
            }
        }
    }
}